.container {
    width: 900px;
    box-sizing: border-box;
    color: white;
}

.header {
    height: 250px;
    background-color: rgb(93, 93, 250);
}

.menu {
    height: 70px;
    background-color: rgb(71, 71, 253);
}

.sidebar {
    width: 30%;
    height: 600px;
    background-color: rgb(46, 46, 252);
    float: left;
}

.main {
    width: 70%;
    height: 600px;
    background-color: rgb(20, 20, 255);
    float: right;
}

.clear {
    clear: both;
}

.footer {
    height: 100px;
    width: 900px;
    background-color: rgb(117, 149, 255);
}